<div class="container">

  <div class="row mt-5 mb-4">
    <h4><%= @user.name %>さんの会員情報詳細</h4>
  </div>

  <div class="row">

    <div class="col-4">
      <div class="form-group row">
        <label class="col-5"><%= image_tag @user.get_profile_image(100,100) %></label>
      </div>

      <div class="form-group row">
        <label class="col-5">会員ID</mdbel>
        <div class="col-5"><%= @user.id %></div>
      </div>

      <div class="form-group row">
        <label class="col-5">名前</label>
        <div class="col-5"><%= @user.name %></div>
      </div>

      <div class="form-group row">
        <label class="col-5">メールアドレス</label>
        <div class="col-5"><%= @user.email %></div>
      </div>

      <div class="form-group row">
        <label class="col-5">会員ステータス</label>
        <div class="col-5">
          <% if @user.is_active %>
            <p class="text-success"><strong>有効</strong></p>
          <% else %>
            <p class="text-secondary"><strong>退会</strong></p>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <div class="mx-auto">
          <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-success btn-sm" %>
        </div>
      </div>

    </div>

    <div class="col-8">
      <table class="table table-borderless border-top border-bottom">
        <thead class="thead" style="background-color: #FFFACD;">
          <tr>
            <th></th>
            <th>日付</th>
            <th>スポット名</th>
            <th>都道府県</th>
            <th>カテゴリ</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <th>
              <%= link_to admin_post_path(post.id) do %>
                <%= image_tag post.post_image, size: "100x70" %>
              <% end %>
            </th>
            <th><%= post.date.strftime('%Y/%m/%d') %></th>
            <th><%= post.spot_name %></th>
            <th><%= post.prefecture %></th>
            <th><%= post.category.name %></th>
            <th><%= link_to "削除", admin_post_path(post.id), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="mx-auto">
        <%= paginate @posts %>
      </div>
    </div>
     </div>

    </din>
  </div>

