<!DOCTYPE html>
<html>
  <head>
    <title>ShareTabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><i class="far fa-smile-wink"></i><strong>シェア旅</strong><i class="far fa-grin-squint"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

            <% if admin_signed_in? %>
              <li class="nav-item mr-4">
                <%= link_to admin_root_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-users"></i>会員一覧
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to admin_posts_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-pen"></i>投稿一覧
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to admin_post_comments_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-comment"></i>コメント一覧
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to admin_categories_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-suitcase-rolling"></i>カテゴリー
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>

             <% elsif user_signed_in? %>
               <li class="nav-item mr-4">
                <%= link_to posts_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-crown" style="color: #FFCC00;"></i>トップページ
                <% end %>
              </li>
               <li class="nav-item mr-4">
                <%= link_to mypage_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-user" style="color: #FFAD90;"></i>マイページ
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to favorites_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-heart" style="color: #FF0461;"></i>いいね
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to new_post_path, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-plus-circle" style="color: #32CD32;"></i>新規投稿
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark border rounded p-2' do %>
                <i class="fas fa-sign-out-alt" style="color: #444444;"></i>ログアウト
                <% end %>
              </li>

            <% else %>

            <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <p class="notice"><%= notice %></p>

    <%= yield %>
  </body>
</html>